*{
    padding:0;
    margin:0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body{
    background: url(todoImage.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
button{
    cursor: pointer;

}
.todoItem{
    display: flex;
    justify-content: space-between;
    width:30vw;
    margin:10px auto;
    border-bottom:1px solid black;
    align-items: center;
}

.container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:1000px;
    background-color: wheat;
    height:100vh;
    border:30px solid blanchedalmond;
    border-radius: 10px;
    opacity: 0.9;
}

.todoAdd{
    margin-left:10px;
    padding:5px;
    font-size:1.35rem;
    width: 100px;
    border:none;
    letter-spacing: 2px;
    font-weight: 900;
}
.todoAdd:hover{
    background-color: white;
}
.todoDone{
    border: none;
    background-color: wheat;
    font-size:1.5rem;
}
input{
    font-size:1.2rem;
    width: 30vw;
    height: 40px;
    border:none;
    border-radius: 10px;
    background-color: white;
    margin-bottom:1em;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: white;
}
header{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:50px;
    margin-bottom:1em;
    font-size:1.5rem;
}

.completedItem{
    display: flex;
    justify-content: space-between;
    width:30vw;
    margin:10px auto;
    align-items: center;
    border-bottom: 1px solid black;

}
h1{
    text-align: center;
}
.completedButton{
    padding:5px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.completedButton:hover{
    background-color: white;
}

@media (max-width:1300px){
    input{
        width:50vw;
    }
    .completedItem{
        width: 50vw;
    }
    .todoItem{
        width:50vw;
    }
}

@media (max-width: 650px){
    h1{
        font-size: 1.5rem;
    }
    .completedItem{
        flex-direction: column;
        margin-bottom:20px;
    }
    header{
        font-size: 1rem;
    }
    .todoItem{
        flex-direction: column;
    }
}